/*! Brass v1.0 | http://jstnbr.co/brass | MIT License */


/**
 * Root font size
 */

$base: 1rem;


/**
 * Breakpoints
 */

$sm: 768px;
$md: 1024px;
$lg: 1280px;


/**
 * Compute maximum breakpoint values
 */

$xs: $sm - 1;
$sm-max: $md - 1;
$md-max: $lg - 1;


/**
 * Import modules
 */

@import "mod/brass_grid";
@import "mod/brass_button";
@import "mod/brass_form";
@import "mod/brass_table";
@import "mod/brass_layout";
@import "mod/brass_typography";
@import "mod/brass_white-space";