/**
 * Button
 */

.btn
{
	margin: 0;
	padding: ($base * .5) $base;
	background: transparent;
	border: 1px solid transparent;
	font-size: inherit;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}

.btn-sm { padding: ($base * .25) ($base * .5); }
.btn-md { padding: ($base * .75) ($base * 1.5); }
.btn-lg { padding: $base ($base * 2); }